<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Cooking Blog</title>
</head>

<body>
  <header>
    <!-- Include the navigation menu or header content -->
  </header>

  <main>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
      <div class="col-12 col-lg-6">
        <img src="/img/aboute.png" width="600" height="400" class="hero-image d-block mx-lg-auto img-fluid" loading="lazy" alt="About Cooking Blog">
      </div>

      <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Welcome to Foodie Fusion</h1>
        <p class="lead">
          Cooking Blog is your ultimate destination for mouthwatering recipes, culinary tips, and culinary adventures. Our goal is to inspire and empower food enthusiasts of all skill levels to explore the world of cooking and create delicious dishes.
        </p>
        <p>
          Whether you're a seasoned chef or a beginner in the kitchen, we have something for everyone. Discover a diverse collection of recipes, learn essential cooking techniques, and get inspired by our expert chefs.
        </p>
        <p>
          Join our community, share your cooking experiences, and let's embark on a flavorful journey together with Foodie Fusion.
        </p>
      </div>
    </div>
  </main>

  <footer>
    <!-- Include the footer content -->
  </footer>
  
</body>

</html>
